@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
* {
	margin: 0px;
	padding: 0px;
}
html{
  height: 100%;
}
body {
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	height: 100%;
	font-weight: 300;
}
nav{
	background-color: #FFFFFF;
	width: 220px;
	position: fixed;
	left: 0;
	min-height: 100%;
	border-right: 1px solid #f0f0f0;
	text-align: right;
	padding-top: 70px;
	padding-right: 25px;
}
#colorprofilepic{
	background-image: url(../images/adit_profile_color.png) ;
	background-repeat: no-repeat;
	background-position: right;
	height: 100px;
	display: none;
	right: 0px;
}
#profilepic{
	background-image: url(../images/adit_profile_grey.png) ;
	background-repeat: no-repeat;
	background-position: right;
	height: 100px;
	right: 0px;
}
#profile{
	color: #242728;
	font-size: 18pt;
	font-weight: 700;
	margin-top: 10px;
	float: right;
	width: 100%;
}
#desprofile{
	color: #8d9295;
	font-size: 11pt;
	font-weight: 300;
	padding-top: 5px;
	margin-bottom: 70px;
}
.menuitems{
	margin-top: 10px;
}
.menuitems a{
	color: #242728;
	font-size: 12pt;
	font-weight: 500;
	text-decoration: none;
}
.social{
	margin-top: 80px;
	color: #242728;
}
.social a{
	font-size: 10pt;
	color: #242728;
	font-weight: 300;
	text-decoration: none;
}
.social span a:hover{
	text-decoration: underline;
	cursor: pointer;
}
#projects a{
	color: #c34232;
}
nav:hover #profilepic{
	background-image: url(../images/adit_profile_color.png) ;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.menuitems:hover{
	text-decoration: underline;
	cursor: pointer;
}

#effectTesting span
{
  text-align: center;
  font-size: 12pt;
}
.container{
	height: 100%;
	text-align: center;
	margin-left: 220px;
}
.project{
	position: relative;
	text-align: center;
	padding-top: 50px;
	padding-left: 100px;
	float:left;
}
.project img {
	max-height: 150px;
	max-width: 200px;
	padding-top: 20px;
	-webkit-transition: padding-top 0.6s;
    -moz-transition: padding-top 0.6s;
    -o-transition: padding-top 0.6s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.project:hover img{
	padding-top: 15px;
	-webkit-transition: padding-top 0.3s;
    -moz-transition: padding-top 0.3s;
    -o-transition: padding-top 0.3s;
}
.project p{
	font-size: 12pt;
	font-weight: 500; 
	color: #242728;
	padding-top: 10px
}
.project:hover p{
	color: #242728;
	cursor: pointer;
}
.projectyear{
	color: #8d9295;
	font-size: 9pt;
	opacity: 0.0;
}
.project:hover .projectyear{
	opacity: 1.0;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.headertitle{
	max-width: 1000px;
	clear: both;
	padding-top: 100px;
}
.headertitle span{
	text-align: center;
	font-size: 12pt;
	font-weight: 300;
	color: #575c5f;
}
.footer{
	position: relative;;
	text-align: left;
	padding-top: 150px;
	padding-left: 100px;
	font-size: 8pt;
	color: #8d9295;
	clear: both;
}
 .footer a{
 	font-size: 8pt;
	color: #8d9295;
	text-decoration: none;
 }
 .footer a:hover{
 	text-decoration: underline;
 }
@media only screen and (min-width: 1131px) {
#project4 {
	clear: both;
}
#project7 {
	clear: both;
}
}
@media only screen and (max-width: 1130px) {
#project3 {
	clear: both;
}
#project5{
	clear: both;
}
#project7{
	clear: both;
}
}