@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
* {
	margin: 0px;
	padding: 0px;
}
html{
  height: 100%;
}
body {
	font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	height: 100%;
	font-weight: 300;
}
nav{
	background-color: #FFFFFF;
	width: 180px;
	position: fixed;
	left: 0;
	min-height: 100%;
	text-align: right;
	padding-top: 52px;
	padding-right: 25px;
	z-index: 999;
	background-color: #FFFFFF
}
#colorprofilepic{
	background-image: url(../images/adit_profile_color.png) ;
	background-repeat: no-repeat;
	background-position: right;
	height: 100px;
	display: none;
	right: 0px;
}
#profilepic{
	background-image: url(../images/adit_profile_grey.png) ;
	background-repeat: no-repeat;
	background-position: right;
	height: 100px;
	right: 0px;
}
#profile{
	color: #242728;
	font-size: 18pt;
	font-weight: 700;
	margin-top: 10px;
	float: right;
	width: 100%;
	letter-spacing: 0.4px;
}
#desprofile{
	color: #8d9295;
	font-size: 10pt;
	font-weight: 300;
	margin-bottom: 54px;
	letter-spacing: 0.6px;
}
.menuitems{
	margin-top: 20px;
}
.menuitems a{
	color: #242728;
	font-size: 14pt;
	font-weight: 500;
	text-decoration: none;
}
.social{
	margin-top: 64px;
	color: #878787;
}
.social a{
	font-size: 10pt;
	color: #878787;
	font-weight: 500;
	text-decoration: none;
}
.social span a:hover{
	text-decoration: underline;
	cursor: pointer;
}
#about a{
	color: #c34232;

}
nav:hover #profilepic{
	background-image: url(../images/adit_profile_color.png) ;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.menuitems:hover{
	text-decoration: underline;
	cursor: pointer;
}

#effectTesting span
{
  text-align: center;
  font-size: 12pt;
}
.container{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	text-align: center;
	margin-left: 220px;
	position: fixed;
	background-image: url(../images/camel_ride.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.gradientelements{
	background-image: url(../images/gradient_element_left.png);
	background-repeat: repeat-y;
	width: 900px;
	height: 100%;
	top: 0;
	text-align: left;
	position: absolute;
}
#title{
	color: #FFFFFF;
	font-size: 12pt;
	font-weight: 500;
	margin-top: 70px;	
	margin-left: 80px;

}
#description{
	width: 480px;
	color: #FFFFFF;
	font-size: 11pt;
	font-weight: 500;
	margin-top: 20px;
	margin-left: 80px;
	letter-spacing: .2px;
}
#description p a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 11pt;
	font-weight: 300;

}
#description p a:hover{
	text-decoration: underline;

}
.headertitle{
	left: 80px;
	position: absolute;
	max-width: 1000px;
	clear: both;
}
.headertitle span{
	text-align: center;
	font-size: 11pt;
	font-weight: 500;
	color: #FFFFFF;
}