* {
	margin: 0px;
	padding: 0px;
}
html{
  height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
	height: 100%;
}
#page1{
	height:100%;
	min-height: 650px;
	background-image: url(../images/bg_kayaking.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
#page2{
	height:100%;
	min-height: 750px;
	background-color: #ffd34e;
	overflow: auto;
	position: relative;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
#page3{
	height: 80px;
	background-color: #343026;
	padding: 5px;
	text-align: center;
}
#page1 h1 a{
	text-decoration: underline;
	color: #FFF;
}
#logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-bottom: 30px;
	max-height: 220px;
	max-width: 220px;
}
h1{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 36pt;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 8px 13px rgba(0,0,0,0.1);
    position: relative;
	top: 10px;
}
h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20pt;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
             0px 4px 10px rgba(0,0,0,0.1),
             0px 4px 10px rgba(0,0,0,0.1);
	margin: 0 10px;
	padding-bottom: 15px;
	text-align: center;
	position: relative;
}
h3{
	font-size: 14pt;
	font-weight: 300;
	text-align: center;
	color: #FFF;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 8px 13px rgba(0,0,0,0.1);
    bottom: 20px;
    width: 100%;
    margin: 5px auto;
    position: fixed;
}
h4{
	font-size: 12pt;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.1);
	margin: 0 20px;
}
.viewdemo{
	text-align: center;
	width: 100%;
	padding-top: 40px;
	margin-bottom: 50px;
}
.viewdemo > p {
	color: #FFFFFF;
	font-size: 28px;
	font-weight: 300;
	letter-spacing: 2px;
	margin: 15px;
}
.viewdemo p a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 28px;
	font-weight: 300;
	letter-spacing: 2px;
	margin: 15px;
	border-bottom:1px dashed;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
             0px 8px 15px rgba(0,0,0,0.1),
             0px 8px 15px rgba(0,0,0,0.1);
}
.viewdemo p a:hover{
	text-decoration: none;
	border-bottom:1px solid;}
.viewdemo p img{
	max-width: 36px;
	max-height: 36px;
	vertical-align: middle;
}
.storeicons{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.storeicons img{
	width: 280px;
	margin: 10px 10px 10px 10px;
	bottom: 2px;
	transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
.storeicons img:hover{
	margin: 0px 10px 20px 10px;
	transition: 0.2s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
video{
	margin-top: 109px;
	margin-left: 0px; 
}
#iphonedemo{
	background-image: url("../images/whiteiphone5.png");
	width: 351px;
	height: 700px;
	margin: 20px auto 0px auto;
	background-size: cover;
}
table{
	width: 800px;
	margin: 0 auto;
	text-align: center;
}
.features{
	height: 50%;
}

.features img{
	max-width: 55px;
	max-height: 55px;
	padding-top: 100px;
	padding-bottom: 5px;
	opacity: 0.7;
}
.features img:hover{
	opacity: 1.0;
	padding-top: 95px;
	padding-bottom: 10px;
}
.twitterbuttons{
	margin: 0px 40px;
	position: relative;
	float: left;
}
.bottomlinks{
	margin: 0px 20px;
	float: right;
	position: relative;
}
.bottomlinks h4 a{
	text-decoration: none;
	color: #FFFFFF;
}